#-----------------------------------------------------------------------------
#
#  Configuration for continuous integration service at travis-ci.org
#
#-----------------------------------------------------------------------------

language: cpp

sudo: false
dist: trusty

matrix:
    include:
        - os: linux
          compiler: clang
          env: USE_PYTHON_VERSION=2
        - os: linux
          compiler: clang
          env: USE_PYTHON_VERSION=3
        - os: linux
          compiler: gcc
          env: USE_PYTHON_VERSION=2
        - os: linux
          compiler: gcc
          env: USE_PYTHON_VERSION=3
        - os: osx
          osx_image: xcode6.4
          compiler: clang
          env: USE_PYTHON_VERSION=2
        - os: osx
          osx_image: xcode10
          compiler: clang
          env: USE_PYTHON_VERSION=3

# http://docs.travis-ci.com/user/apt/
addons:
    apt:
        sources:
            - boost-latest
        packages:
            - g++-4.8
            - gcc-4.8
            - libboost1.55-dev
            - python-dev
            - python-nose
            - python-mock
            - python3
            - python3-dev
            - python3-nose
            - python3-setuptools

install:
    - git clone --quiet --depth 1 https://github.com/osmcode/libosmium.git contrib/libosmium
    - git clone --quiet --depth 1 https://github.com/mapbox/protozero.git contrib/protozero
    - git clone --quiet --depth 1 https://github.com/pybind/pybind11.git contrib/pybind11
    - if [ "$TRAVIS_OS_NAME" = 'osx' ]; then
          pip${USE_PYTHON_VERSION} install -q nose mock;
      fi

script:
    - if [ "${CXX}" = 'g++' ]; then
          CXX=g++-4.8;
          CC=gcc-4.8;
      fi
    - if [ "$TRAVIS_OS_NAME" = 'osx' ]; then
          PYTHON=python${USE_PYTHON_VERSION};
      else
          PYTHON=/usr/bin/python${USE_PYTHON_VERSION};
      fi
    - $PYTHON --version
    - $PYTHON setup.py build
    - cd test
    - $PYTHON run_tests.py

