# SPDX-License-Identifier: BSD-2-Clause
#
# This file is part of pyosmium. (https://osmcode.org/pyosmium/)
#
# Copyright (C) 2025 Sarah Hoffmann <lonvia@denofr.de> and others.
# For a full list of authors see the git log.
"""
Version information.
"""

# current release (Pip version)
pyosmium_release = '@SKBUILD_PROJECT_VERSION@'

# libosmium version used to compile this package
libosmium_version = '@OSMIUM_VERSION@'
# protozero version used to compile this package
protozero_version = '@PROTOZERO_VERSION@'
# pybind11 version shipped used to compile this package
pybind11_version = '@pybind11_VERSION@'
